[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-2048
Exec=sailfish-qml harbour-2048
Name=KibiTiles

[X-Sailjail]
OrganizationName=io.github.roundedrectangle
ApplicationName=KubiTiles
Permissions=
